@model User;
@{
    ViewData["Title"] = "Register";
}
<div class="wrapper">
    <div class="header">
        <h1>Register an account:</h1>
    </div>
    <form asp-action="Register" asp-controller="LoginReg" method="POST">
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="Confirm" class="control-label"></label>
            <input asp-for="Confirm" class="form-control">
            <span asp-validation-for="Confirm"></span>
        </div>
        <input type="submit" />
    </form>
</div>